<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="logger" fileName="logfile.txt" />
		<!--<target xsi:type="File" name="tracelogger" fileName="tracelogfile.txt" />-->
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logger" />
		<!--<logger name="*" minlevel="Trace" writeTo="tracelogger" /> -->
	</rules>
</nlog>